//COLORS
$color_violet_oscuro:#0c0c0c;
$color_violet_oscuroClaro:#000000e4;
$color_violet_botones:#8666ef;
$color_violet_white:#c1c1ec;
$color_violet_white_claro:#ffffff;
$color_verde:#00ae00;



//FONTS
$font_family_titles_h1: Strong Concrete;
$font_family_titles_h2:'Orbitron', sans-serif;
$fontSize_titles_h2: 70px;


//FONTS MOVIL SIZE
$fontSize_titles_movil: 60px;




