@import "colorFont";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Oswald', sans-serif; //300  //600 ;
    
}

html{
    scroll-behavior: smooth ;

}



body{
    scroll-behavior:unset;
    background:$color_violet_oscuro;
    background: rgb(44, 44, 44)

}

body::-webkit-scrollbar{
    width: 15px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(45, 218, 45);
    border-radius: 20px;
    height: 100px;
}
body::-webkit-scrollbar-thumb:hover{
    background: rgb(2, 89, 17);
    height: 150px;
    
}



@import "grid";
@import "header";
@import "section_one";
@import "section_two";
@import "section_three";
@import "section_four";
@import "section_five";
@import "section_contact";
@import "footer";
@import "btnTop";
@import "msm_enviado";







